.art-info-bar {
    padding: 0 15px;
    /* ----- header ----- */
    /* ----- name ----- */
    /* ----- language skills ----- */
    /* ----- hard skills ----- */
    /* ----- knowledge ----- */
    /* ----- info bar links ----- */
    /* ----- social links ----- */
}

.art-info-bar .art-header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    padding: 30px;
    height: 235px;
    background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
    text-align: center;
    -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
}

.art-info-bar .art-header .art-avatar {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
}

.art-info-bar .art-header .art-avatar .art-avatar-curtain {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: inherit;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    z-index: 0;
}

.art-info-bar .art-header .art-avatar .art-avatar-curtain i {
    background: linear-gradient(159deg, rgba(45, 45, 58, 0.88) 0%, rgba(43, 43, 53, 0.88) 100%);
    width: 30px;
    height: 30px;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-weight: 700;
    font-size: 11px;
    line-height: 30px;
    color: #fafafc;
    border-radius: 50%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.art-info-bar .art-header .art-avatar .art-avatar-curtain img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    z-index: 0;
}

.art-info-bar .art-header .art-avatar .art-avatar-curtain:hover {
    opacity: 1;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    outline: inherit;
}

.art-info-bar .art-header .art-avatar .art-avatar-curtain:hover i {
    opacity: .7;
}

.art-info-bar .art-header .art-avatar .art-avatar-curtain:hover i:hover {
    opacity: 1;
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

.art-info-bar .art-header .art-avatar .art-lamp-light {
    z-index: 2;
}

.art-info-bar .art-header .art-avatar .art-lamp-light:before {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 1px;
    background: #fafafc;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    -webkit-animation: puls 1s infinite;
    animation: puls 1s infinite;
}

@-webkit-keyframes puls {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes puls {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

.art-info-bar .art-header .art-avatar .art-lamp-light .art-available-lamp {
    position: absolute;
    bottom: 3px;
    right: 5px;
    height: 15px;
    width: 15px;
    background: #FFC107;
    border-radius: 50%;
    z-index: 0;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.art-info-bar .art-header .art-avatar .art-lamp-light .art-available-lamp:after {
    position: relative;
    content: 'I am available for freelance hire';
    width: 115px;
    display: block;
    padding: 5px 10px;
    top: -10px;
    left: 28px;
    font-size: 10px;
    font-weight: 200;
    color: #8c8c8e;
    -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    background: #191923;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    text-align: left;
}

.art-info-bar .art-header .art-avatar .art-lamp-light .art-available-lamp:before {
    content: '';
    position: absolute;
    height: 5px;
    width: 5px;
    right: -15px;
    top: 5px;
    opacity: 0;
    background: #191923;
    pointer-events: none;
    -webkit-transform: translateX(20px) rotate(45deg);
    transform: translateX(20px) rotate(45deg);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    z-index: 99;
}

.art-info-bar .art-header .art-avatar .art-lamp-light .art-available-lamp:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.art-info-bar .art-header .art-avatar .art-lamp-light .art-available-lamp:hover:after {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.art-info-bar .art-header .art-avatar .art-lamp-light .art-available-lamp:hover:before {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(45deg);
    transform: translateX(0) rotate(45deg);
}

.art-info-bar .art-header .art-avatar .art-lamp-light.art-not-available:before {
    opacity: 0;
    -webkit-animation: none;
    animation: none;
}

.art-info-bar .art-header .art-avatar .art-lamp-light.art-not-available .art-available-lamp {
    background: red;
}

.art-info-bar .art-header .art-avatar .art-lamp-light.art-not-available .art-available-lamp:after {
    content: "Sorry I'm busy today";
}

.art-info-bar .art-name {
    color: #fafafc;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.art-info-bar .art-name a {
    color: #fafafc;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.art-info-bar .art-name:hover a {
    color: #FFC107;
}

.art-info-bar .art-lang-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.art-info-bar .art-lang-skills .art-lang-skills-item {
    width: 33.33333%;
    text-align: center;
    margin-bottom: 15px;
}

.art-info-bar .art-lang-skills .art-lang-skills-item .art-cirkle-progress {
    width: 65%;
    margin: 0 auto 15px;
}

.art-info-bar .art-lang-skills .art-lang-skills-item .art-cirkle-progress .progressbar-text {
    font-size: 11px;
    color: #8c8c8e !important;
    position: relative;
    left: 45% !important;
}

.art-info-bar .art-lang-skills .art-lang-skills-item .art-cirkle-progress .progressbar-text:after {
    content: '%';
    position: absolute;
    right: -7px;
}

.art-info-bar .art-hard-skills .art-hard-skills-item {
    margin-bottom: 15px;
    position: relative;
}

.art-info-bar .art-hard-skills .art-hard-skills-item .art-skill-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.art-info-bar .art-hard-skills .art-hard-skills-item .art-line-progress {
    width: 100%;
}

.art-info-bar .art-hard-skills .art-hard-skills-item .art-line-progress .progressbar-text {
    width: 100%;
    text-align: right;
    top: -6px !important;
    font-size: 11px;
    color: #8c8c8e !important;
}

.art-info-bar .art-knowledge-list {
    padding-left: 0;
}

.art-info-bar .art-knowledge-list li {
    list-style-type: none;
    margin-bottom: 5px;
    color: #8c8c8e;
}

.art-info-bar .art-knowledge-list li:last-child {
    margin-bottom: 0;
}

.art-info-bar .art-knowledge-list li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    margin-right: 5px;
    font-size: 9px;
    color: #FFC107;
    margin-right: 10px;
}

.art-info-bar .art-links-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.art-info-bar .art-ls-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 35px;
    height: 50px;
    background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
    position: absolute;
    bottom: 0;
    -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    left: 0;
    width: 100%;
    z-index: 999;
}

.art-info-bar .art-ls-social a {
    color: #8c8c8e;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.art-info-bar .art-ls-social a:hover {
    text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
    color: #fafafc;
}

/* ----- progresbar color ----- */
.art-line-progress path:first-child {
    stroke: #191923;
}

.art-line-progress path:last-child {
    stroke: #FFC107;
}

.art-cirkle-progress path:first-child {
    stroke: #191923;
}

.art-cirkle-progress path:last-child {
    stroke: #FFC107;
}