
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

h1 { @apply text-4xl; }
h2 { @apply text-2xl; }
h3 { @apply text-xl; }

button {
  outline: none !important;
}

section {
  background-color: #edf2f7;
  min-height: 100%;
  padding: 5rem 1rem 0;
}


/*--------- Cursor animation start --------------*/
.cursor {
  max-width: auto;
  text-align: center;
  color: #fff;
  font-weight: 100;
}

.cursor::after {
  content: '|';
  opacity: 1;
  margin-left: 2px;
  display: inline-block;
  animation: blink .7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/*--------- Cursor animation end --------------*/

/*--------- Home area start --------------*/

.banner-home {
  background-image: url('../images//bg-home.jpeg');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
}

.banner-home::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  content: '';
}
/*--------- Home area end --------------*/

/*--------- Skills area start --------------*/
.skills-area {
  position: relative;
  background-image: url('../images//bg-skills.jpeg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: 1;
  width: 100%;
  height: auto;
}
.skills-area::before{
  position: absolute;
  content: '';
  background: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/*--------- Skills area ends --------------*/


/*--------- Card portfolio start --------------*/
.card {
  border-radius: 15px;
  padding: 1.5rem;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.card .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*--------- Card portfolio ends --------------*/
