
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


ul li {
  display: inline-block;
  padding: 1rem;
  color: #fff;
}

/* cursor animation */
.cursor {
  max-width: auto;
  text-align: center;
  color: #fff;
  font-weight: 100;
}

.cursor::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink .7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.banner-home {
  background-image: url('https://source.unsplash.com/random');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
}

.banner-home::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  content: '';
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
